.imagedetals {
    width: 1200 !important;
    height: 500px !important;
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }




  .comment-popup-close {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 1.5rem;
  }
